/* header{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(suv.jpeg); 
} */

body {
    background: url(../../assets/liviu-florescu-Ufw3tdWujlY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0.90;
}
.jumbotron {
    background: none
}
.jumbotron h1{
    padding-top: 100px;
    color: #fff;
}
hr{
    border-top: 1px solid #33A8FF;
    width:60%;
}

.jumbotron p{
    color: #FFBE33;

}
.btn-dark:hover {
    background-color: #33A8FF;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    border:none;

}