<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand nav-link active" routerLink="register" routerLinkActive="/"><b>CARPOOL APP</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/about" routerLinkActive="about">About
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link active navbar-right" routerLink="login" routerLinkActive="sign">Log in
        
      </a>
      <a class="nav-item nav-link active navbar-right" routerLink="register" routerLinkActive="sign">Register</a>
    </div>
  </div>
</nav>
