<div class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
  
        <h2 class="text-center">Review Form</h2>
        <hr />
        <form>
          <div class="form-group">
            <label for="review">Review</label>
            <textarea class="form-control" placeholder="Type your review below" id="review" required ></textarea>
          </div>
          
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
  
      </div>
      <div class="col-md-4"></div>
    </div>
  
  
  </div>
  