<div class="container-fluid">
  <h2 class="text-center">Car Registration Form</h2>
  <hr />

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" placeholder="Enter your username" id="username" required />
        </div>


        <div class="form-group">
          <label for="name">Number of Seats of Your Car</label>
          <input type="number" class="form-control" placeholder="Enter number of seats of your car" id="seats"
            required />
        </div>

        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" placeholder="Enter location" id="location" required />
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

  </div>
  <div class="col-md-4"></div>
</div>
