<form [formGroup]="form" (ngSubmit)="createCar()">
  <div class="form-group">
    <label for="name">Owner Name </label>
    <input type="text" class="form-control" placeholder="Owner Name" formControlName="owner_name" id="owner_name" required/>
  </div>

  <div class="form-group">
    <label for="name">License plate</label>
    <input type="text" class="form-control" placeholder="Enter license plate" formControlName="license_plate" id="license_plate" required/>
  </div>

  <div class="form-group">
    <label for="name">No. of seats</label>
    <input type="text" class="form-control" placeholder="No. of seats" formControlName="noofseats" id="noofseats" required/>
  </div>

  <div class="form-group">
    <button class="btn btn-primary"type="submit">Add car </button>

  </div>

  </form>