<h1> Your workspaces </h1>


<div style="margin-bottom: 500px;" *ngFor="let workspace of data.workspaces" style="text-align:center">
  <div class="card text-white bg-success" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{workspace.name}}</h5>
      <p class="card-text">{{workspace.description}}</p>
      <a class="btn btn-primary" href="/workspace/{{workspace.workspace_id}}">Join</a>
      
    </div>
    <a class="btn btn-success" href="/car/{{workspace.workspace_id}}">Add Car</a>
    <a class="btn btn-primary" href="/view/{{workspace.workspace_id}}">View Car</a>
  </div>
  </div>



