<section class="wrapper">
  <div class="video-wrap">
    <video muted src="../../assets/Carpool-video.mp4" autoplay="" loop="" class="muted" id="videoBG"></video>
  </div>
  <div class="overlay"></div>
  <div class="landing-text"></div>
  <br>
  <h1 class="text-center" style="color: white;">Forget about taking two rides to one destination</h1>
  <p class="text-center" style="color: white;">Use this app to get just one car to your desired destination</p>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card" id="cardy" style="align-items: center; text-align: justify;">
          <u>
            <h5 class="card-title text-center">Comfort</h5>
          </u>
          <div class="card-body">
            <img src="../../assets/comfort.png" class="text-center" style="align-items: center;">
            <br><br>
            <p class="card-text">Carpooling reduces your stress of catching public transport on time
              and reach your destination faster.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="align-items: center; text-align: justify;">
          <u>
            <h5 class="card-title text-center">Save</h5>
          </u>
          <div class="card-body">
            <img src=".../../assets/save2.png" class="text-center" style="align-items: center;">
            <br><br>
            <p class="card-text">You get to share the cost of driving with others thus saving time, money and
              environment.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="align-items: center; text-align: justify;">
          <u>
            <h5 class="card-title text-center">Socialize</h5>
          </u>
          <div class="card-body">
            <img src="../../assets/socialiize.png" class="text-center" style="align-items: center;">
            <br><br>
            <p class="card-text">You can make new acquaintances and get to know your carpoolmates better.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
