<div class="container-fluid">
  <h2 class="text-center">Workspace Registration Form</h2>
  <hr />

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="name">Name of Workspace</label>
          <input type="text" class="form-control" placeholder="Enter name of workspace" id="name" required />
        </div>

        <div class="form-group">
          <label for="description">Description of Workspace</label>
          <textarea class="form-control" id="description" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>

  </div>
  <div class="col-md-4"></div>
</div>
